@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: #0c031b;
  color: #f1f5f9;
}

.dashboard-wrapper {
  padding: 0px 0px 0px 40px;
}

.dashboard-title {
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 30px;
  color: #e2e8f0;
}

/* This is the new container for scrolling */
.table-scroll-container {
  max-height: 85vh; /* Set a fixed height for the scrollable area. Adjust as needed. */
  overflow-y: scroll; /* Enable vertical scrolling */
}

/* Hide the scrollbar for WebKit-based browsers (Chrome, Safari) */
.table-scroll-container::-webkit-scrollbar {
  display: none;
}

/* Hide the scrollbar for Firefox */
.table-scroll-container {
  scrollbar-width: none; /* Firefox-specific property to hide the scrollbar */
}

.dashboard-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 12px;
}

.dashboard-table thead th {
  text-align: left;
  padding: 12px 16px;
  background-color: #1e1b2e;
  color: #cbd5e1;
  font-weight: 500;
  font-size: 14px;
  
  /* Make the header sticky so it stays at the top while scrolling */
  position: sticky;
  top: 0;
  z-index: 10; /* Ensure the header is above the table body */
}

.dashboard-table tbody td {
  padding: 16px;
  background-color: #16122b;
  color: #e2e8f0;
  border-radius: 0px;
  font-size: 15px;
}

.dashboard-table tbody tr {
  transition: background 0.3s ease;
}

.dashboard-table tbody tr:hover td {
  background-color: #231c3f;
}

.indicator-cell {
  text-align: center;
  font-size: 18px;
  color: #f87171;
}